<mat-drawer-container [hasBackdrop]="false">
  <mat-drawer #drawer mode="side" class="sidenav">
    <a mat-button color="primary" class="sidenav__nav-link" routerLink="posts" routerLinkActive="sidenav__nav-link--active">Posts</a>
    <a mat-button color="primary" class="sidenav__nav-link" routerLink="posts/create" routerLinkActive="sidenav__nav-link--active">New Post</a>
  </mat-drawer>
  <mat-drawer-content class="main-content">
    <button mat-icon-button class="nav-button" (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
